@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root{
    --primary-color : #EF4444;
    --background : #1F2937;
    --hover-color: #EFF6FF;
    --header-color: #F9FAFB;
    --section-background: #f2f3f2c2;
}
body{
    font-family: 'Ubuntu', sans-serif;
    /* background-color: var(--background); */
    color: var(--background);
    margin: 0;
    max-width: 1000px;
    margin: auto;
}


hr{
    margin: 2 rem 0;
}

/* containers */

.container-fluid {
    padding: 0 1rem;
    width: 100%;
    
}

.container {
    margin: auto;
    padding: 0 1rem;
    /* width: 100%; */
}

/* links */

.primary-link{
    text-decoration: none;
    color: var(--header-color);
    background-color: var(--primary-color);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}


.secondary-link{
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

/* lists */

.unordered {
    list-style: none;
    padding-left: 0 ;
}

.list-inline li{
    display: inline;
    padding: 0 0.5rem;
}

/* nav */

.navigation {
    /* background-color: var(--primary-color); */
    color: var(--background);
    padding: 1rem 0;
    margin: 1rem 0;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.navigation .brand {
    font-weight: bold;
    display: inline-flex;
    
    
}

.navigation ul{
    list-style: none;
    text-align: right;
    display: inline-flex;
    margin-left: 57.5%;
    
    
}

.navigation li{
    display: inline-block;
    padding: 0 1rem;

}

.navigation a{
    text-decoration: none;
    color: var(--background);
}

.navigation .active{
    font-weight: bold;
    border-radius: 1rem;
    /* border: 0.1rem solid var(--primary-color); */
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--header-color);
}
    

/* header */

.hero{
    padding: 1rem 0 ;
    color: var(--background);
    background-color: var(--section-background);
    display: flex;
    max-width: 1000px;
}

.hero img{
    /* max-width: 350px; */
    margin: auto;
    display: block;
    width: 40%;
}

.hero h1{
    margin: auto;
    max-width: 60%;
    padding-top: 1rem;
    text-align: center;
}

/* section */

.section{
    padding: 2rem;
    text-align: center;
}

.section p{
    /* max-width: 450px; */
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
}

.section h2{
    text-align: center;
}

.ow{
    background-color: var(--section-background);
}

/* footer */
.footer{
    background-color: var(--section-background);
    color: var(--background);
    padding: 2rem 0;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.footer .heading{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 1rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer li{
    display: inline;
    padding: 0 1rem;
}

.footer a{
    text-decoration: none;
    color: var(--background);
}

@media all and (max-width:600px) {
    body{
        margin: 0 1rem;
    }

    /* nav */

    .navigation {
        /* background-color: var(--primary-color); */
        color: var(--background);
        padding: 1rem 0;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
        display: flex;
        /* width: 90%; */
        justify-content: flex-end;
    }

    .navigation .brand {
        font-weight: bold;
        display: flex;
        
    }

    .navigation ul{
        list-style: none;
        text-align: right;
        display: flex;
        justify-content: flex-end;

        
    }

    .navigation li{
        /* display: inline-block; */
        padding: 0 1rem;

    }

    .navigation a{
        text-decoration: none;
        color: var(--background);
    }

    .navigation .active{
        font-weight: bold;
        border-radius: 1rem;
        /* border: 0.1rem solid var(--primary-color); */
        padding: 0.5rem;
        background-color: var(--primary-color);
        color: var(--header-color);
    }

    hr{
        margin: 2 rem 0;
    }
    
    /* containers */
    
    .container-fluid {
        padding: 0 1rem;
        width: 100%
    }
    
    .container {
        margin: auto;
        padding: 0 1rem;
        /* max-width: 600px; */
    }

        /* header */

    .hero{
        padding: 1rem 0 ;
        color: var(--background);
        background-color: var(--section-background);
        display: flex;
        flex-wrap: wrap;
    }

    .hero img{
        width: 80%;
        margin: auto;
        display: block;
        padding-left: 1rem;
    }

    .hero h1{
        margin: auto;
        /* max-width: 350px; */
        padding-top: 1rem;
        text-align: center;
    }


}

@media all and (min-width: 600px) and (max-width: 1016px){
    
    .navigation {
        /* background-color: var(--primary-color); */
        color: var(--background);
        padding: 1rem 0;
        margin: 1rem 0;
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
    }
    
    .navigation .brand {
        font-weight: bold;
        display: inline-flex;
        
        
    }
    
    .navigation ul{
        list-style: none;
        text-align: right;
        display: inline-flex;
        margin-left: 54.57%;
        /* margin-right: 10%; */
        
        
    }
    
    .navigation li{
        display: inline-block;
        padding: 0 1rem;
    
    }
    
    .navigation a{
        text-decoration: none;
        color: var(--background);
    }
    
    .navigation .active{
        font-weight: bold;
        border-radius: 1rem;
        /* border: 0.1rem solid var(--primary-color); */
        padding: 0.5rem;
        background-color: var(--primary-color);
        color: var(--header-color);
    }
      
}


