@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root{
    --primary-color : #1D4ED8;
    --background : #93C5FD;
    --hover-color: #EFF6FF;
    --header-color: #1E3A8A;
    --section-background: #f2f3f2c2;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
    color: var(--primary-color);
    margin: 0;
}

hr{
    margin: 2 rem 0;
}

/* containers */

.container-fluid {
    padding: 0 1rem;
}

.container {
    margin: auto;
    padding: 0 1rem;
    max-width: 600px;
}

/* links */

.primary-link{
    text-decoration: none;
    color: var(--background);
    background-color: var(--primary-color);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}


.secondary-link{
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

/* lists */

.unordered {
    list-style: none;
}

.list-inline li{
    display: inline;
    padding: 0 0.5rem;
}

/* nav */

.navigation {
    background-color: var(--primary-color);
    color: var(--background);
    padding: 1rem 0;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .brand {
    font-weight: bold;
}

.navigation ul{
    list-style: none;
    text-align: right;
}

.navigation li{
    display: inline-block;
    padding: 0 1rem;

}

.navigation a{
    text-decoration: none;
    color: var(--background);
}

.navigation .active{
    font-weight: bold;
    border-radius: 1rem;
    border: 0.1rem solid var(--background);
    padding: 0.5rem;
    background-color: var(--header-color);
}

.navigation a:hover{
    color: var(--hover-color);
}
    

/* header */

.hero{
    padding: 1rem 0 ;
    color: var(--header-color);
}

.hero img{
    max-width: 350px;
    margin: auto;
    display: block;
}

.hero h1{
    margin: auto;
    max-width: 350px;
    padding-top: 1rem;
}

/* section */

.section{
    padding: 2rem;
    text-align: center;
}

.section p{
    max-width: 450px;
    text-align: left;
    margin: auto;
    padding-bottom: 1rem;
}

.section h2{
    text-align: center;
}

.ow{
    background-color: var(--section-background);
}

/* footer */
.footer{
    background-color: var(--primary-color);
    color: var(--background);
    padding: 2rem 0;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    text-align: center;
}

.footer .heading{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 1rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer li{
    display: inline;
    padding: 0 1rem;
}

.footer a{
    text-decoration: none;
    color: var(--background);
}


